#createPost {

}

#createPost h2 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 3rem;
}


#createPost h3 {
  display: inline-block;
  vertical-align: top;
  margin-top: 1.4rem;
  width: 14rem;
  text-align: right;
  font-size: 1.5rem;
}

#createPost .radioList {
  width: 40rem;
  margin: 0.5rem;
  display: inline-block;
  font-size: 1.3rem;
}

#createPost .dropzone {
  width: 27rem;
  height: 6rem;
  margin: 0.7rem;
  line-height: 6rem;
  border: 1px dashed #00adee;
  background-color: #fff;
  display: inline-block;
  position: relative;
  border-radius: 5px;
}

#createPost .dropzone:after {
  font-size: 1.3rem;
  text-align: center;
  width: 100%;
  position: absolute;
  content: 'Drop photo to upload';
}

#createPost .dropzone.hover {
  background-color: #ddd;
}

#createPost .dropzone.hover:after {
  content: 'Got it!';
}

.fileUpload.btn {
  padding: 0.7rem 1rem;
  font-size: 1.3rem;
  margin: 0.7rem;
}

.photoPreview {
  margin-left: 15rem;
  width: 40rem;
}

  .photoPreview li {
    margin-bottom: 1.4rem;
  }

  .photoPreview img {
    width: 50px;
    height: 50px;
    border: 1px solid #999;
    display: inline-block;
  }

  .photoPreview .options {
    display: inline-block;
    vertical-align: top;
  }

  .photoPreview .options a {
    font-size: 1rem;
    display: inline-block;
    margin-top: 0.3rem;
    margin-left: 1rem;
    color: #00adee;
    text-decoration: underline;
    vertical-align: bottom;
  }

.submit_buttons {
  text-align: center;
  padding: 30px;
  height: 60px;
}

.submit_buttons button {
  margin-right:25px;
}

/*============================================================
  RESPONSIVE CSS
============================================================*/

@media screen and (max-width: 940px) {

  #createPost h3 {
    display: block;
    text-align: left;
  }

}






/*============================================================
   SETTINGS CSS (help greg move later)
============================================================*/

.subCatSub.wide {
  width: 49%;
  text-align: right;
}

.subCatSub {
  width: 32%;
  display: inline-block;
}

.subCatSub label {
  display: inline-block;
  vertical-align: middle;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 80%;
  text-align: right;
  font-size: 1.3rem;
}

.subCatSub input {
  width: 10%;
}

.checkall {
  display: inline-block;
  width: auto;
  vertical-align: middle;
}

.subSettingsHeader {
  font-size: 2.5rem;
  vertical-align: middle;
  display: inline-block;
}

.headerBlock {
  margin: 3rem 0;
  border-bottom: 1px solid #adadad;
}

/*============================================================
  SETTINGS RESPONSIVE CSS
============================================================*/

@media screen and (max-width: 940px) {

  .subCatSub {
    width: 46%;
  }

}
