#header {
  position: fixed;
  display: table;
  width: 100%;
  z-index: 2;
  background-color: #224099;
  height: 6rem;
}

  #headerLogo {
    width: 26rem;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  #headerLogo img {
    height: 60%;
    display: inline-block;

  }

  #headerSearch {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
  }

  #headerSearch input {
    border-radius: 1rem;
    width: 40%;
    max-width: 50rem;
    padding-left: 3rem;
    background-image: url(../img/search.png);
    background-size: auto 80%;
    background-position: center left;
    background-repeat: no-repeat;
  }


  #headerAdmin {
    text-align: right;
    padding-right: 4rem;

    width: 200px;
    color: #fff;
    font-size: 1.3rem;
    background-color: #224099;
    position: absolute;
    height: 100%;
    right: 0;
    top: 0;
  }

  #headerAdmin .name {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    line-height: 6rem;
  }

    #headerAdmin a {
      color: #ababab;
      display: block;
    }

  #headerAdmin:after {
    content: '';
    background-image: url(../img/arrow.png);
    background-size: 100%;
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -1rem;
    width: 2rem;
    height: 2rem;
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }

  #headerAdmin:hover:after {
    -webkit-transform: rotateX(180deg);
  }

  #headerAdmin:hover ul {
    -webkit-transform: translate3d(0,0,0);
  }

  #headerAdmin ul {
    z-index: -1;
    position: absolute;
    top: 6rem;
    right: 1rem;
    background-color: #999;
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -webkit-transform: translate3d(0,-100%,0);
  }

  #headerAdmin li {
    border-bottom: 1px solid #ababab;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-align: right;
    width: 160px;
    cursor: pointer;
    display: block;
    position: relative;
    color: #ababab;
    background-color: #fff;
  }

  #headerAdmin li:hover {
    background-color: #fff;
  }

  #headerAdmin .login-display-name {
    display: none;
  }

  #headerAdmin .login-button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: right;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    color: #ababab;
  }

  #headerAdmin .login-button:hover {
    background-color: transparent;
  }

  #burger {
    width: 44px;
    height: 44px;
    position: relative;
    display: none;
    cursor: pointer;
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }

    #burger:after, #burger:before  {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: 70%;
      background-repeat: no-repeat;
      background-position: center;
      -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    }

    #burger:after { background-image: url(../img/burger.png); }
    #burger:before { background-image: url(../img/burgerClose.png); }



  #burger.active {
    background-color: #fff;
  }

  #burger.active:before {
    opacity: 1;
    -webkit-transform: rotateZ(-495deg);
  }

  #burger.active:after {
    opacity: 0;
    -webkit-transform: rotateZ(-495deg);
  }