#listings a {
  color: #333;
  text-decoration: none;
}

  #listings li {
    display: table;
    table-layout: fixed;
    width: 100%;
    overflow: hidden;
    height: 10rem;
    margin-bottom: 2rem;
    background-color: #fff;
    font-size: 0;
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -webkit-transform: scale(1) translate3d(0,0,0);
  }

  #listings li:hover {
    -webkit-transform: scale(1.04) translate3d(0,-0.3rem,0);
  }

    #listings li .imgFrame {
      display: table-cell;
      width: 22%;
      min-width: 100px;
    }

    #listings li img {
      max-width: 150px;
      max-height: 100px;
      width: 100%;
      display: block;
    }

    #listings li .info {
      display: table-cell;
      vertical-align: middle;
      padding: 0 2%;
      overflow: hidden;
    }

    #listings li .info h3 {
      font-size: 2rem;
      margin-bottom: 1rem;
      width: 100%;
      font-weight: normal;
      display: block;
      border-bottom: 1px solid #999;

      white-space: nowrap;
      text-overflow: ellipsis;
      overflow: hidden;
    }

    #listings li .info .price:before {
      content: 'Price: ';
    }

    #listings li .info .location:before {
      content: 'Location: ';
    }

