* {
  margin: 0;
  padding: 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
}


@font-face {
    font-family: 'Avenir';
    src: url('/fonts/AvenirNextLTPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}

html {
  font-size: 10px;
}

body {
  font-family: 'Avenir', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
  /*font-size: 0;*/
  background-color: #eaeaea;
}

h1, h2, h3, h4 {
  font-weight: normal;
}

a {
  text-decoration: none;
  color: #00adee;
}

p, ul {
  font-size: 1.3rem;
  line-height: 2.5rem;
  text-align: left;
}

li {
  list-style: none;
}

input, textarea, select {
  font-size: 1.4rem;
  padding: 0.7rem 1rem;
  border: none;
  background-color: #fff;
  vertical-align: middle;
  border-radius: 0;
  height: 3.4rem;
  width: 40rem;
  margin: 0.7rem;
}

input[type="file"] {
  display: none;
}

.fileUpload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: 6px 12px;
  cursor: pointer;
  vertical-align: top;
}

input[type="radio"] {
  width: 2rem;
  height: 2rem;
  margin: 0.4rem 0.4rem 0 0.7rem;
  vertical-align: top;

}

textarea {
  height: 20rem;
}



.btn {
  background-color: #00adee;
  border-radius: 1rem;
  border: none;
  font-size: 2rem;
  color: #fff;
  display: inline-block;
  cursor: pointer;
  padding: 0.7rem 3rem;
  -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  transform: scale(1);
  box-shadow:none;
  border:0;
  outline:none;
}

.btn:hover {
  background-color: #58c5ee;
  transform: scale(1.05);
}

.btn:active {
  transform: scale(0.9);
}

.price:before { content: 'Price: '; }
.location:before { content: 'Location: '; }


/*============================================================
  GRID
============================================================*/

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  /*background-color: rgba(255,0,0,0.1);*/
}

#main {
  margin: 12rem 2rem 6rem 28rem;
  /*background-color: rgba(255,0,0,0.1);*/
}



/*============================================================
  HEADER
============================================================*/

#header {
  position: fixed;

  display: table;
  width: 100%;
  z-index: 2;
  background-color: #224099;
  height: 6rem;
}

  #headerLogo {
    display: table-cell;

    /*background-color: #000;*/
    background-image: url(../img/logo.png);
    background-size: 75%;
    background-repeat: no-repeat;
    background-position: center;
    width: 26rem;
  }

  #headerSearch {
    display: table-cell;
    vertical-align: middle;
    text-align: right;

  }

  #headerSearch input {
    border-radius: 5px;
  }


  #headerAdmin {
    display: table-cell;
    vertical-align: middle;
    text-align: right;
    min-width: 18rem;
    padding-right: 4rem;

    color: #fff;
    font-size: 1.3rem;
    background-color: #224099;
    position: relative;
  }

  #headerAdmin:after {
    content: '';
    background-image: url(../img/arrow.png);
    background-size: 100%;
    position: absolute;
    right: 1rem;
    top: 50%;
    margin-top: -1rem;
    width: 2rem;
    height: 2rem;
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }

  #headerAdmin:hover:after {
    -webkit-transform: rotateX(180deg);
  }

  #headerAdmin:hover ul {
    -webkit-transform: translate3d(0,0,0);
  }

  #headerAdmin ul {
    z-index: -1;
    position: absolute;
    top: 6rem;
    right: 1rem;
    background-color: #999;
    -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -webkit-transform: translate3d(0,-100%,0);
  }

  #headerAdmin li {
    border-bottom: 1px solid #ababab;
    padding: 1rem 2rem;
    font-size: 1.5rem;
    text-align: right;
    min-width: 15rem;
    cursor: pointer;
    display: block;
    position: relative;
    color: #ababab;
    background-color: #fff;
  }

  #headerAdmin li:hover {
    background-color: #fff;
  }

  #headerAdmin .login-display-name {
    display: none;
  }

  #headerAdmin .login-button {
    background: transparent;
    border: none;
    font-size: 1.5rem;
    padding: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: right;
    top: 0;
    left: 0;
    padding: 1rem 2rem;
    color: #ababab;
  }

  #headerAdmin .login-button:hover {
    background-color: transparent;
  }


/*============================================================
  NAV
============================================================*/


#nav {
  width: 26rem;
  background-color: #fff;
  height: 100%;

  z-index: 1;
  position: fixed;
  overflow-x: hidden;
  overflow-y: scroll;

  left: 0;
  top: 0;
  padding: 12rem 0 12rem 7rem;
  color: #ababab;

  -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  -webkit-transform: translate3d(0,0,0);
}

  #nav .btn {
    margin: 0 0 3rem -3rem;
  }

  #nav h2 {
    position: relative;
    font-weight: normal;
    font-size: 2rem;
    cursor: pointer;
  }

  #nav h2.active:before { -webkit-transform: rotate(-315deg); }

  #nav h2:before {
    content: '';
    background-image: url(../img/plus.png);
    background-size: 100%;

    text-align: center;
    position: absolute;
    color: #dbdbdb;
    top: 50%;
    left: -3rem;
    margin-top: -0.9rem;
    width: 1.6rem;
    height: 1.6rem;
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }


  #nav h2.topLevel a {
    color: #ababab;
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
  }

  #nav h2.topLevel.active a {
    color: #fff;
  }

  #nav h2.topLevel {
    -webkit-transition: all 500ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    padding: 0.3rem 0;
  }

  hr.topLevel {
    margin: 1.7rem 0;
  }

  #nav h2.topLevel:before {
    background-image: url(../img/topLevel.png);
  }

  #nav h2.topLevel.active {
    background-color: #915a7a;
    padding-left: 2rem;
  }



  #nav h2.topLevel.active:before { -webkit-transform: rotate(0deg); }

  #nav ul {
    display: none;
    margin-top: 1rem;
  }

  #nav hr {
    margin: 2rem 0;
    border: none;
    border-bottom: 1px solid #dbdbdb;
  }


  #nav li {
    font-size: 0;
    display: -webkit-flex;
    display: flex;
    cursor: pointer;

    -webkit-transition: all 200ms cubic-bezier(0.250, 0.460, 0.450, 0.940);
    -webkit-transform: scale(1) translate3d(0,0,0);
  }

  #nav li:hover {
    /*-webkit-transform: scale(1.1) translate3d(-0.3rem,0,0);*/
  }

  #nav li .num {
    text-align: right;
    font-size: 1.8rem;
    padding: 0.5rem;
    -webkit-flex: 1;
            flex: 1;
  }

  #nav li .name {
    padding: 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.4rem;
    height: 100%;
    -webkit-flex: 6;
            flex: 6;
  }

  #nav li.active {
    position: relative;
    background-color: #915a7a;
    color: #fff;
    padding-left: 2rem;
  }

  #nav li.inactive { opacity: 0.3; cursor: default;}


  #nav .new {
    background-color: #58c5ee;
  }



/*============================================================
  RESPONSIVE CSS
============================================================*/


@media screen and (max-width: 940px) {

  html {
    font-size: 8px;
  }

  #nav {
    -webkit-transform: translate3d(-100%,0,0);
  }


  #main {
    margin: 12rem 1rem 6rem 1rem;
  }


}


