@media screen and (max-width: 940px) {

  html {
    font-size: 8px;
  }

  #nav {
    -webkit-transform: translate3d(-100%,0,0);
    border-right: 1px solid #dbdbdb;
  }

  #nav.active {
    -webkit-transform: translate3d(0,0,0);
  }


  #main {
    margin: 12rem 1rem 6rem 1rem;
  }


  #headerLogo {
    width: auto;
    padding-right: 44px;
  }



  #burger {
    display: table-cell;
    width: 6rem;
  }

  #headerSearch, #headerAdmin {
    display: none;
  }


  #createPost {
    text-align: center;
  }

  #createPost .dropzone {
    display: none;
  }

.fileUpload.btn {
  font-size: 2rem;
}

  #postHero {
    height: 300px;
  }

  #postHero img {
    max-height: 300px;
  }

  input, textarea, select {
    width: 98%;
    margin: 0.7rem 1%;
  }


  .subCatSub {
    width: 46%;
  }


  .postThumbs span {
    width: 32%;
    padding-bottom: 22%;
  }

  .postThumbs span:nth-child(4n) {margin: 2% 2% 0 0; }
  .postThumbs span:nth-child(3n) {margin: 0; }

}
