<template name="tempForm">
	<form class="submit form">
		<span>category</span>
			<select name="category"> 
				<option value="For Sale">For Sale</option>
				<option value="Wanted">Wanted</option>
				<option value="Housing">Housing</option>
				<option value="Gigs">Gigs</option>
				<option value="Community">Community</option>
				<option value="Services">Services</option>
			</select><br>
		<input name="title" placeholder="title" style="width:300px"/><br>
		<textarea cols="50" rows="10" name="description" placeholder="description" ></textarea><br>
		<input type="submit" value="Submit"/>
	</form>
</template>	
