* {
  margin: 0;
  padding: 0;

  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;

  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-touch-callout: none;
}


html {
  font-size: 10px;
}

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  color: #444;
  /*font-size: 0;*/
  background-color: #eaeaea;
}

p, ul {
  font-size: 1.3rem;
  line-height: 2.5rem;
  text-align: left;
  /*margin: 0 0 3rem 0;*/
}

input, textarea, select {
  font-size: 1.4rem;
  padding: 0.7rem 1rem;
  border: none;
  background-color: #fff;
  vertical-align: middle;
  border-radius: 0;
  height: 3.4rem;
  width: 40rem;
  margin: 0.5rem;
}

textarea {
  height: 20rem;
}



.btn {
  background-color: transparent;
  border-radius: 5px;
  border: 1px solid #00adee;
  font-size: 2rem;
  color: #00adee;
  display: inline-block;
  padding: 0.5rem 3rem;
}

/*============================================================
  GRID
============================================================*/

.wrapper {
  max-width: 960px;
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  background-color: rgba(255,0,0,0.1);
}

  .wrapper.top {
    margin-top: 12rem;
  }



.row {
  width: 100%;
  font-size: 0;
}

  .row > div {
    margin-right: 2%;
    display: inline-block;
    vertical-align: top;
  }

  .row img { width: 100%; }

  .row .half   { width: 49%; max-width: 480px; } /* figure out spacing for large monitors - let layout breathe but constrain column width - maybe just constrain <p> width */
  .row .third  { width: 32%; max-width: 320px; }
  .row .fourth { width: 23.5%; }

  .row .half:nth-child(even) { margin-right: 0; }
  .row .third:nth-child(3n)  { margin-right: 0; }
  .row .fourth:nth-child(4n) { margin-right: 0; }


/*============================================================
  HEADER
============================================================*/

#header {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #404040;
  height: 6rem;

  /*opacity: 1;*/
  /*position: relative;*/
}

  #headerLogo {
    display: inline-block;
    vertical-align: top;

    height: 100%;
    background-image: url(../img/fpo.png);
    background-size: 100% 100%;
    width: 160px;

    background-color: #ddd;
  }

  #headerSearch {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    width: 200px;
  }

  #headerSearch input {
    border-radius: 5px;
  }


  #headerAdmin {
    display: inline-block;
    vertical-align: top;
    height: 100%;
    color: #fff;
    font-size: 1.3rem;
  }


/*============================================================
  NAV
============================================================*/


#nav {
  width: 26rem;
  background-color: #fff;
  height: 100%;

  z-index: 1;
  position: fixed;
  left: 0;
  top: 0;
  padding: 12rem 0 12rem 3rem;
  color: #00adee;
}

  #nav h2 {
    position: relative;
    font-weight: normal;
    font-size: 2rem;
    margin: 2rem 0 1rem 4rem;
  }

  #nav h2.active:before { -webkit-transform: rotate(45deg); }

  #nav h2:before {
    content: '+';
    text-align: center;
    position: absolute;
    top: 50%;
    left: -4rem;
    margin-top: -1.4rem;
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 50%;
    border: 1px solid #00adee;
    font-size: 2rem;
    font-weight: normal;
  }

  #nav ul {
    margin: 0 0 2rem 4rem;
    border-bottom: 1px solid #ccc;
  }

  #nav li {
    font-size: 0;
    display: -webkit-flex;
    display: flex;
    cursor: pointer;
  }



  #nav li .num {
    text-align: right;
    font-size: 1.8rem;
    padding: 0.5rem;
    -webkit-flex: 1;
            flex: 1;
  }

  #nav li .name {
    padding: 0.5rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 1.3rem;
    height: 100%;
    -webkit-flex: 4;
            flex: 4;
  }

  #nav li.active {
    position: relative;
    background-color: #00adee;
    color: #fff;
  }

  #nav li.inactive { opacity: 0.3; cursor: default;}


/*============================================================
  MAIN
============================================================*/

#main {
  margin-left: 28rem;
  margin-top: 12rem;
  display: inline-block;
  vertical-align: top;
}