<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.pandora.hackathon.pandalist" >

    <uses-feature android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <permission android:name="com.pandora.hackathon.pandalist.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />
    <uses-permission android:name="com.pandora.hackathon.pandalist.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:debuggable="true"
        android:theme="@style/PandasAppTheme"
        android:name=".PandaListApplication">
        <receiver
            android:name=".gcm.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
                <category android:name="com.pandora.hackathon.pandalist" />
            </intent-filter>
        </receiver>
        <service android:name=".gcm.GcmIntentService" />
        <activity
            android:name=".activity.PandaListActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".activity.PostingActivity"
            android:label="@string/postings"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/PandasNoActionBar"/>

        <activity android:name=".activity.NewPostDetailActivity"
            android:label="@string/postings"
            android:windowSoftInputMode="adjustPan"
            android:theme="@style/PandasNoActionBar"/>

        <activity android:name=".activity.PostDetailActivity"
            android:label="@string/post_detail"
            android:theme="@style/Theme.IOSched.SessionDetails"/>

        <activity android:name=".activity.LoginActivity"
            android:label="Login" >
        </activity>

        <meta-data android:name="com.google.android.gms.version" android:value="@integer/google_play_services_version" />

        <service android:name=".aws.NetworkService"
                 android:exported="false" />

    </application>

</manifest>
